*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,h1,h3 {font-family: "Raleway", sans-serif}

.main{
    width: 100vw;
    height: 100vh;
    /* display: grid;
    grid-template-rows: 30% 70%; */
    /* position: relative; */
}
.education{ 
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    padding: 1rem 3rem;
}

.projects{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:center;
    align-items: center;
    gap: 2rem;
}
.projects > .project{
   width: 22rem;
    height: 18rem;
    display: grid;
    border-radius: 2rem;
    background-color: rgba(243, 246, 249, 0.977);
}
.project-image{
    display: grid;
    position: relative;
}
.project-image > span{
    
    width: 100%;
    height: 80%;
     background-color: rgba(0, 0, 0, 0.548);  
    font-size: 3.5rem;
    padding: 1rem 2rem;
    text-wrap:wrap;
    text-align: center;
    align-content: center;
    z-index: 10;
    position: absolute;
    border-radius: 2rem 2rem 0 0;
    
}
.project-image > img{
    background-color: #74ebd5;
    width: 100%;
    height: auto;
    border-radius:2rem ;
    opacity: 50%;
}
.project-details{
    display: flex;
    justify-content:space-evenly;
}
.project-details > .button {
    width: 6rem;
    height: 2rem;
    font-weight: 600;
    align-items: center;
    border: none;
    border-radius: .3rem;
    background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.project-details> .button >a{
    text-decoration: none;
}